*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

html{
    scroll-behavior: smooth;/* cuon trang den cho can den */
    font-family: Arial, Helvetica, sans-serif;
}
.slider{
    max-width: 1230px;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
    margin: auto;
  }

.slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 1s;
  }
  
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0%;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: none;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }

  .content{
    max-width: 1230px;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 50px;

  }
  .content h2{
    /* width: 30%; */
    color: #c30005;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.6;
    text-align: center;
    padding: 10px 10px;
    border-bottom: 2px solid #ddd;
  }
  .content h2:hover{
    color: white;
    background-color: #c30005;
    
  }
  .most-new-product{

  }
  .carousel{
    display: flex;
    margin-top: 50px;
    max-width: 1230px;
    flex-wrap: wrap;

  }

.carousel-cell{
    width: 15.9%;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
  }
.carousel-cell img{
    width: 100%;
    margin: auto;
}
.carousel-cell .carousel-cell-bottom{
    padding-top: 30px;
    padding: 15px;
}
.carousel-cell-bottom-title{
    text-decoration: none;
    color: #334862;
    margin-bottom: 10px;
    margin-top: 0.1em;
    font-size: .9em;
    text-align: right;
}
.carousel-cell .name-product-carousel-cell{
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 1.1em;
}
.carousel-cell .related-products-price{
    text-align: center;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}
.carousel-cell .related-products-button{
    display: block;
    background-color: #c30005;
    padding: 10px 5px;
    width: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
}
.carousel-cell .related-products-button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.carousel-cell .carousel-cell-bottom,
.carousel-cell .carousel-cell-top{
    width: 100%;
    margin: auto;
}

  

  
 
        