* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    border: none;
  }
html{
    scroll-behavior: smooth;/* cuon trang den cho can den */
    font-family:  "Roboto", sans-serif;
    
}
#header{
    width: 100%;
    height: 130px;
    background-color: black;
    margin-bottom: 30px;
}
#slider{
    height: 180px;
    background-image: url(http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/banner-1-1.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    margin-bottom: 50px;
}
.introduce .title{
    text-align: center;
    padding-top: 50px;
    color: white;
    
}
.introduce .link{
    text-align: center;
    color: white;
    padding: 15px 0;
    
}
.introduce .link a{
    text-decoration: none;
    color: white;
    font-weight:bolder;

}
#content{
    height: 1000px;
    max-width: 1230px;
}
.section-content{
    display: flex;

}
.image-content{
    width: 33.333%;
    padding: 0 15px 30px 15px;

}
.image-content img{
    width: 100%;
}
.tiltle-content{
    padding: 0 15px 30px 15px;
    width: 66.666%;
}
.tiltle-content h1{
    color: #1c1c1c;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.3;
    margin-bottom: 13.6px;
}
p{
    margin-bottom: 20.8px;
    color: #353535;
    line-height: 1.6;
    margin-top: 0;
}
h3{
    font-size: 1.25em;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 0.5em;
}
.tiltle-content .mid-title{
    display: flex;
    margin-top: 20px;
}
.mid-title .mid1-title{
    width: 50%;
    padding: 0 34px 30px 0;
    border-right: 2px solid #c30005;

}
.mid-title .mid2-title{
    width: 50%;
    padding: 0 0 30px 41px;

}
.foot-content{
    margin-top: 50px;
}
.foot-title{
    display: flex;
}
.right,
.left{
    width: 50%;
    display:flex ;
    padding: 0px 15px 30px;
}
.icon{
    font-size: 40px;
    color: red;
}
.title-right,
.title-left{
    padding: 0px 0px 0px 16px;
}
#footer{
    height: 200px;
    background-color: black;
    margin-top: 50px;
}
