:root {
  --red-color: #c30005;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
body {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.row1 {
  width: 100%;
}
.row1 .carousel {
  width: 100%;
  overflow: hidden;
}

.row1 .carousel .carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.row1 .carousel .carousel-container .carousel-item {
  flex: 0 0 100%;
  border: #000 1px solid;
  /* Adjust the width as needed */
  /* Other styles for item appearance */
}
.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.row2 .col {
  padding: 0 15px 30px;
  width: calc(100vw / 3);
  transition: 0.2s;
  display: flex;
  justify-content: center;
}
.row2 .col .inner-col {
  width: 100%;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
  display: flex;
  justify-content: center;
}
.row2 .col:hover {
  border: #000 1px solid;
}
.row2 .col .inner-col img {
  width: 100px;
}
.row3 {
  width: 100%;
  padding: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row3 .product-tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: #000 2px solid;
  justify-content: center;
  margin-bottom: 40px;
}
.row3 .product-tab .tab {
  height: 50px;
  font-size: 10px;
  padding: 0 10px;
  color: gray;
  text-align: center;
  line-height: 50px;
  transition: 0.6s;
}
.row3 .product-tab .tab:hover {
  background-color: #000;
  color: whitesmoke;
}
.row3 .product-tab .active {
  background-color: #000;
  color: whitesmoke;
}
.row3 .product-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 16px;
}
.row3 .product-line .product {
  width: 25%;
  padding: 0 10px 30px;
  text-align: center;
}
.row3 .product-line .product img {
  width: 100%;
}
.row3 .product-line .product .name {
  font-size: 15px;
  color: gray;
}
.row3 .product-line .product .price {
  font-size: 15px;
  color: var(--red-color);
  font-weight: bold;
}
.row3 .product-line .product .add-to-cart {
  background-color: var(--red-color);
  color: whitesmoke;
  height: 30px;
  width: 40%;
  margin: auto;
  transition: 0.5s;
}
.row3 .product-line .product .add-to-cart a {
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}
.row3 .product-line .product .add-to-cart:hover {
  background-color: rgb(0, 0, 0, 0.3);
}
.row4 {
  width: 100%;
  padding: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row4 .product-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: #000 2px solid;
  justify-content: center;
  margin-bottom: 40px;
}
.row4 .product-header .tab {
  height: 50px;
  font-size: 10px;
  padding: 0 10px;
  color: black;
  text-align: center;
  line-height: 50px;
}
.row4 .product-display {
  display: flex;
  flex-wrap: wrap;
}
.row4 .product-display .line {
  width: 100%;
  display: flex;
}

.row4 .product-display .line .product {
  width: 25%;
  padding: 0 10px 30px;
  text-align: center;
}
.row4 .product-display .line .product img {
  width: 100%;
}
.row4 .product-display .line .product .name {
  font-size: 15px;
  color: gray;
}
.row4 .product-display .line .product .price {
  font-size: 15px;
  color: var(--red-color);
  font-weight: bold;
}
.row4 .product-display .line .product .add-to-cart {
  background-color: var(--red-color);
  color: whitesmoke;
  height: 30px;
  width: 40%;
  margin: auto;
  transition: 0.5s;
}
.row4 .product-display .line .product .add-to-cart a {
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}
.row4 .product-display .line .product.add-to-cart:hover {
  background-color: rgb(182, 46, 46);
}
.row5 {
  position: relative;
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
}
.row5 .parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Picture/BannerImg/prlxbg.jpg");
  background-size: cover;
  background-position: center;
  transform: translateZ(0);
  z-index: -1;
}
.row5 .parallax-content {
  position: relative;
  z-index: 1;
  /* Other styles for content appearance */
}

.row6 {
  width: 100%;
  padding: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row6 .product-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: #000 2px solid;
  justify-content: center;
  margin-bottom: 40px;
}
.row6 .product-header .tab {
  height: 50px;
  font-size: 10px;
  padding: 0 10px;
  color: black;
  text-align: center;
  line-height: 50px;
}
.row6 .product-display {
  display: flex;
  flex-wrap: wrap;
}
.row6 .product-display .line {
  width: 100%;
  display: flex;
}

.row6 .product-display .line .product {
  width: 25%;
  padding: 0 10px 30px;
  text-align: center;
}
.row6 .product-display .line .product img {
  width: 100%;
}
.row6 .product-display .line .product .name {
  font-size: 15px;
  color: gray;
}
.row6 .product-display .line .product .price {
  font-size: 15px;
  color: var(--red-color);
  font-weight: bold;
}
.row6 .product-display .line .product .add-to-cart {
  background-color: var(--red-color);
  color: whitesmoke;
  height: 30px;
  width: 40%;
  margin: auto;
  transition: 0.5s;
}
.row6 .product-display .line .product .add-to-cart a {
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}
.row6 .product-display .line .product.add-to-cart:hover {
  background-color: rgb(182, 46, 46);
}
