.header__inner {
  width: 100%;
  height: 125px;
  z-index: 99999;
  position: absolute;
}

.header__wrapper {
  position: relative;
  width: 100%;
  height: 125px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 99999;
}

.header__main--1 {
  height: 72px;
  background-color: var(--text-bgPrimary);
}

.header__main--2 {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 0 15px;
  max-width: 1230px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.header__left {
  display: flex;
  align-items: center;
  grid-column: span 4 / span 4;
}

.header__left--text {
  font-size: 13px;
  cursor: pointer;
  padding: 10px 0;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-decoration: none;
  text-transform: uppercase;
  color: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.header__left--text:hover {
  color: #fff;
}

.header__logo {
  height: 100%;
  grid-column: span 4 / span 4;
  padding: 10px 0;
}

.header__logo--icon {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../imgPublic/logo.png);
}


.header__right {
  display: flex;
  margin-left: auto;
  align-items: center;
  grid-column: span 4 / span 4;
  gap: 15px;
}

.header__right--search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 22px 0;
  padding-left: 16px;
  padding-right: 8px;
}

.header__right--search i {
  cursor: pointer;
  font-size: 18px;
}

.header__right--text {
  position: relative;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 22px 0;
  font-size: 13px;
  font-weight: 700;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  transition: all linear 0.2s;
}

.header__right--text:hover {
  color: #fff;
}

.header__right--cart i {
  font-size: 18px;
}

/* header nav */
.header__nav--wrapper {
  min-height: 25px;
  width: 100%;
  background-color: #d3d3d3;
}

.header__nav--main {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.header__nav--list {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.header__nav--item {
  padding-top: 15px;
  padding-bottom: 10px;
  list-style-type: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.header__nav--item:hover {
  transition: all linear 0.3s;
  border-color: var(--text-bgPrimary);
}

.header__nav--item>div {
  color: var(--text-bgPrimary);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.32px;
  line-height: 1.8;
}