/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 12, 2023, 10:09:47 PM
    Author     : DUC HAU
*/


#toasts {
  position: fixed;
  width: 312px;
  min-height: 66px;
  top: 20px;
  display: flex; 
  flex-direction: column;
  left: 22px;
  cursor: pointer;
  z-index: 999999;
  transition: all 0.1s ease;
}

.toast {
  min-height: 66px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 10px 20px 10px 16px;
  /*box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);*/
  box-shadow: var(--shadow-shadowAuth);
}

.toast+.toast {
  margin-top: 20px;
}

.toast.success {
  position: relative;
  background-color: #fff;
  border-left: 6px solid rgba(0, 128, 0, 0.8);
  animation: show_slide_topLeft 0.66s linear forwards;
}

.toast.warning {
  position: relative;
  background-color: #fff;
  border-left: 6px solid rgb(255, 165, 0);
  animation: show_slide_topRight 0.66s linear forwards;
}

.toast.error {
  position: relative;
  background-color: #fff;
  border-left: 6px solid #fe3b25;
  animation: show_slide_topRight 0.66s linear forwards;
}

/* Thanh line chạy bên dưới */
.toast.success:after {
  content: "";
  --height: 5px;
  height: var(--height);
  position: absolute;
  top: calc(100% - var(--height));
  left: -1px;
  width: calc(100% + 1px);
  background-color: rgba(0, 128, 0, 0.8);
  animation: countdown 2s linear forwards;
}

.toast.error:after {
  content: "";
  --height: 4px;
  height: var(--height);
  position: absolute;
  top: calc(100% - var(--height));
  left: -1px;
  width: calc(100% + 1px);
  background-color: #fe3b25;
  animation: countdown 2s linear forwards;
}

.toast.warning:after {
  content: "";
  --height: 4px;
  height: var(--height);
  position: absolute;
  top: calc(100% - var(--height));
  left: -1px;
  width: calc(100% + 1px);
  background-color: rgb(255, 165, 0);
  animation: countdown 2s linear forwards;
}

/* thẻ i là icon, thẻ p là text title (success, error, warning) */
.toast.success i {
  font-size: 20px;
  color: rgba(0, 128, 0, 0.8);
  margin-top: 2px;
  text-transform: capitalize;
}

.toast.error i {
  font-size: 20px;
  color: #fe3b25;
  margin-top: 2px;
  text-transform: capitalize;
}

.toast.warning i {
  font-size: 20px;
  color: rgb(255, 165, 0);
  margin-top: 2px;
  text-transform: capitalize;
}

/* =========== */
.toast__msg {
  margin: 0 20px 0 16px;
}

.toast__msg span {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
  line-height: 18px;
  margin-top: 4px;
}

.toast i.close {
  color: #b2b2b2;
  margin-left: 18px;
  font-size: 22px;
  transition: color linear 0.2s;
  position: absolute;
  top: 6px;
  right: 10px;
}

.toast i.close:hover {
  color: red;
}

/* =========== */

@keyframes countdown {
  0% {
    width: 100%;
  }

  40% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes show_slide_topRight {
  0% {
    transform: translateX(calc(160%));
  }

  45% {
    transform: translateX(-30px);
  }

  75% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show_slide_topLeft {
  0% {
    transform: translateX(calc(-160%));
  }

  45% {
    transform: translateX(26px);
  }

  75% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes hide_slide_topRight {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(150%);
  }
}

@keyframes hide_slide_topLeft {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  70% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(-150%);
  }
}