.admin_wrapper {
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #f0f4f7;
  padding: 35px 15px;
}

.admin_main {
  max-width: 1230px;
  min-height: 600px;
  background-color: #fff;
  margin: 50px auto;
  /* border-radius: 12px; */
  display: flex;
  box-shadow: var(--shadow-shadowAuth);
}

.admin_left {
  padding: 20px;
  padding-top: 0;
  width: 270px;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.admin_leftInfo {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.admin_leftInfo img {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  margin-bottom: 8px;
  object-fit: cover;
}

.admin_leftInfo span {
  display: block;
  font-weight: 500;
  text-align: center;
  color: var(--text-bgPrimary);
  font-size: 18px;
  /* text-transform: uppercase; */
}

.admin_leftTab {
  width: 100%;
}

.admin_leftItem {
  transition: all linear 100ms;
  display: block;
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
  /* background-color: red; */
}

.admin_leftItem.active {
  background-color: #1f2028;
  color: #fff;
}

.admin_leftItem>div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.admin_leftItem>div>span {
  font-size: 16px;
  font-weight: 450;
}

/* RIGHT */
.admin_right {
  /* border-radius: 0 12px 12px 0; */
  flex: 1 1 0%;
  padding: 30px 25px 20px;
}

.view-order_wrapper {
  height: 100%;
}

.view-order_top {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.view-order_top .view-order_quantity {
  display: flex;
  align-items: center;
  color: var(--text-bgPrimary);
  font-size: 16px;
}

.view-order_quantity p {
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
}

.view-order_status {
  outline: none;
  background-color: rgb(241 245 249);
  padding: 8px 12px;
  color: var(--text-bgPrimary);
  cursor: pointer;
  border: 1px solid #ddd;
  display: inline-block;
}

.view-order_date {
  outline: none;
  background-color: rgb(241 245 249);
  padding: 8px 12px;
  color: var(--text-bgPrimary);
  cursor: pointer;
  border: 1px solid #ddd;
  box-shadow: var(--shadow-shadowSearch);
}

/* ==================== */
.view-order_bottom {
  width: 100%;
  padding: 0 12px;
  border-radius: 0.375rem;
  box-shadow: var(--shadow-shadowPrimary);
}

.view-order_bottom>table {
  width: 100%;
}

.view-order_bottom thead>tr {
  display: grid;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  gap: 8px;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  font-size: 14px;
  font-weight: 700;
  padding: 16px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

thead>tr .name {
  grid-column: span 3 / span 3;
}

thead>tr .address {
  grid-column: span 3 / span 3;
}

thead>tr .phone {
  grid-column: span 2 / span 2;
}

thead>tr .date {
  grid-column: span 2 / span 2;
}

thead>tr .status {
  grid-column: span 2 / span 2;
}

thead>tr .action {
  grid-column: span 2 / span 2;
}

.view-order_item {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  gap: 8px;
  border-radius: 4px;
  height: 70px;
  border-bottom: 1px solid #ececec;
}

.view-order_item .name {
  grid-column: span 3 / span 3;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 12px;
  align-items: center;
}

.view-order_item .name>p {
  grid-column: span 7 / span 7;
  display: flex;
  flex-direction: column;
  /* line clamp 2 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-order_item .address {
  display: flex;
  grid-column: span 3 / span 3;
}

.view-order_item .phone {
  display: flex;
  align-items: center;
  padding: 8px 0;
  grid-column: span 2 / span 2;
}

.view-order_item .date {
  display: flex;
  align-items: center;
  padding: 8px 0;
  grid-column: span 2 / span 2;
}

.view-order_item .status {
  display: flex;
  align-items: center;
  font-weight: 700;
  grid-column: span 2 / span 2;
}

.view-order_item .status>p {
  color: var(--text-bgPrimary);
  text-align: center;
  font-size: 16px;
  color: #059669;
}

.view-order_item .detail {
  display: flex;
  align-items: center;
  font-weight: 700;
  grid-column: span 2 / span 2;
}

.detail>button {
  background-color: var(--text-primary);
  color: #fff;
  padding: 4px 8px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all linear 120ms;
}

.detail>button:hover {
  background-color: #a40206;
}

.detail>button>span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
}